{% verbatim %}
<div class="playControls g-z-index-header m-visible">
    <div class="playControls__inner">
        <div class="playControls__wrapper l-container l-fullwidth">
            <div class="playControls__bg"></div>
            <div class="playControls__elements">
                <button class="skipControl sc-ir playControls__icon playControls__prev skipControl__previous" @click="playPreviousSong()">
                </button>
                <button class="playControl sc-ir playControls__icon playControls__play playing" tabindex=""
                        title="Pause current" @click="pause()">
                </button>
                <button class="skipControl sc-ir playControls__icon playControls__next skipControl__next" tabindex="" @click="playNextSong()">
                    Skip to next
                </button>

                <div class="playControls__repeat">
                    <button title="Repeat playing track" class="repeatControl sc-ir m-old m-none">Repeat track</button>
                </div>

                <div class="playControls__timeline">
                    <div class="playbackTimeline is-scrubbable has-sound">
                        <div class="playbackTimeline__timePassed"><span class="sc-visuallyhidden">Current time: 47 seconds</span><span
                                    aria-hidden="true">0:47</span></div>
                        <div class="playbackTimeline__progressWrapper" role="progressbar" aria-valuemax="199802"
                             aria-valuenow="47008.26" aria-valuetext="47 seconds">
                            <div class="playbackTimeline__progressBackground"></div>
                            <div class="playbackTimeline__progressBar" :style="{width: player.progress + 'px'}"></div>
                            <div class="playbackTimeline__progressHandle sc-ir" :style="{width: player.progress + 'px'}"></div>
                        </div>
                        <div class="playbackTimeline__duration">
                            <span aria-hidden="true"></span>
                        </div>
                        <div class="playbackTimeline__snippetIndicator">
                            <span class="sc-snippet-badge sc-snippet-badge-small">Preview</span>
                        </div>
                    </div>
                </div>

                <div class="playControls__volume">
                    <div class="volume" data-level="10">
                        <div class="sc-visuallyhidden">Volume</div>
                        <div class="volume__iconWrapper">
                            <button class="volume__button volume__speakerIcon sc-ir">
                                Toggle mute
                            </button>
                        </div>
                    </div>
                </div>

                <div class="playControls__soundBadge">
                    <div class="playbackSoundBadge">
                        <div class="playbackSoundBadge__titleContextContainer">
                            <a href="" class="playbackSoundBadge__title sc-truncate">
                                <span aria-hidden="true" v-if="song.artist">{{ song.artist.name }} - {{ song.title }}</span>
                            </a>
                        </div>
                        <div class="playbackSoundBadge__actions">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="playControls__panel">
                <div class="playControlsPanel sc-font-body sc-background-darkgrey"></div>
            </div>
        </div>
    </div>
</div>
    {% endverbatim %}