# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_driver: pdo_pgsql
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user: aio.group.test@gmail.com
    mailer_password: 123321AioGroup

    # A secret key that's used to generate certain security-related tokens
    secret:            Utd5GLKjtfgskfjw89trfgw9osfjmc
    music_path:        /Users/nursultan/PhpstormProjects/obon/data/music
    locale:            kg
    base_url_api:      'http://obon.aio.kg/api/'
    base_url:          'http://obon.aio.kg/'
    jwt_private_key_path:   var/jwt/private.pem
    jwt_public_key_path:    var/jwt/public.pem
    jwt_key_pass_phrase:    ''
    jwt_token_ttl:  3600