{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}

    {% if value %}
        <div>
            <img src="/uploads/artist/profile/{{ value }}.jpg" width="200">
        </div>
        {{ value }}
    {% else %}
        <div>
            <img src="/uploads/artist/profile/placeholder_one.jpg" width="200">
        </div>
    {% endif %}

{% endblock %}
