{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
	{% if value %}
        <div style="width: 100%; text-align: center">
           <img src="/uploads/artist/profile/{{ value }}.jpg" width="150">
        </div>
    {% else %}
        <div style="width: 100%; text-align: center">
            <img src="/uploads/artist/profile/placeholder_one.jpg" width="150">
        </div>
	{% endif %}
{% endblock %}
