{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">

        {% for artist in artists %}
            {% if loop.index %6 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-md-2 col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">

                <h3>{{ artist }}</h3>

                <p>These marketing boxes are a great place to put some information.</p>
            </div>
            {% if loop.index %6 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}