{% extends "FOSUserBundle::layout.html.twig" %}
{#{% extends "SonataUserBundle:Profile:action.html.twig" %}#}

{% block fos_user_content %}
    <h2>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h2>

    <div class="sonata-user-show row row-fluid">

        <div class="span2 col-lg-2" style="padding: 8px 0;">
            {% block sonata_profile_menu %}
                {{ sonata_block_render({'type': 'sonata.user.block.menu'}, {'current_uri': app.request.requestUri}) }}
            {% endblock %}
        </div>

        <div class="span10 col-lg-10">
            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
            {% block sonata_profile_content '' %}
        </div>

    </div>
{% endblock fos_user_content %}


{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% block fos_user_content %}#}
    {#<div id="content">#}
        {#<h1 class="pageTitle">{{ 'block.title'|trans({}, 'InfoForumBundle') }}</h1>#}
        {#{% include '@InfoForum/Forum/forum_header.html.twig' %}#}
        {#<div id="stage">#}
            {#{% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}#}
        {#</div>#}
    {#</div>#}
{#{% endblock fos_user_content %}#}
